:root{
    --dark-brown: #432818;
    --less-dark-brown: #6f1d1b;
    --brown: #99582a;
    --light-brown: #ffd780;
}

*{
    box-sizing: border-box;
    color: var(--dark-brown);
}

ul li{
    color: var(--dark-brown);
}

.logo{
    display: flex;
    align-items: center;
}

h3{
    font-size: 2em;
}

.logo img{
    width: 100px;
}

.tab-pane{
    align-items: center;
}

.content{
    font-size: 1.2em;
}

.content p {
    margin: 20px 0;
}

.content img {
    width: 60%;
    max-width: 600px;
    margin: 20px auto;
}
 #form {
    font-size: 1.2em;
    font-weight: 400;
 }
 .table{
    font-size: 1.2em;
 }
.top {
    text-align: center;
    padding: 50px;
    border-bottom: 1px solid var(--light-brown);
}

.top h3 {
    font-size: 2.3rem;
    font-weight: 600;
}

.top p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

.selectItems {
    border-bottom: 1px solid var(--light-brown);
    height: 50px;
    margin: 10px;
}

.details {
    display: flex;
    justify-content: space-around;
}

.email {
    color: var(--dark-brown);
    text-decoration: none;
}

.email:hover {
    color: var(--brown);
    text-decoration: underline;
}

#contact-tab-pane {
    text-align: center;
}

#contact-form{
    text-align: left;
    width: 50%;
    margin: 50px auto;
}
#contact-form label{
    font-size: 1.2rem;
    margin: 5px;
}
textarea{
    margin-bottom: 20px;
}

#food-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    margin-top: 20px;
    gap: 20px;
    row-gap: 30px;
}

#food-gallery .card{
    width: 24rem;
    margin: auto;
}

@media  only screen and (max-width: 1500px) {
    #food-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        align-content: center;
        gap: 20px;
    }
    #food-gallery div.card{
        width: 20rem;
        margin: auto;
    }
}

@media  only screen and (max-width: 1000px) {
    #food-gallery{
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        gap: 20px;
    }
    #food-gallery div.card{
        width: 24rem;
        margin: auto;
    }
}

#food-gallery img {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    
}

.modal-body{
    width: 100%;
}

.modal-body img{
    border-radius: 10px;
    width: 100%;
    margin: auto;
}

.modal-body p {
    margin: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

th{
    width: 20%;
}

input#glutten{
    margin-left: 10px;
}

input#search{
    width: 300px;
}

.modal-body img{
    height: 400px;
    object-fit: cover;
}

#likes{
    margin: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: var(--dark-brown);
    color: var(--light-brown);
    font-size: 1.2rem;
}

.btn:hover{
    background-color: var(--light-brown);
    color: var(--dark-brown);
}

.diet{
    background-color: white;
    border: 0px;
    color: var(--dark-brown);
}

.contact{
    font-size: 1.3rem;
}
tr{
    align-items: center;
}

.btn-secondary, .delbtn{
    background-color: var(--less-dark-brown);
    color: var(--light-brown);
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}
.btn-secondary:hover{
    background-color: var(--less-dark-brown);
    color: var(--light-brown);
}
.list-group-item{
    font-size: 1.2rem;
    color: var(--dark-brown);
}
.list-group-item span:first-of-type{
    background-color: var(--dark-brown);
    color: var(--light-brown);
    border-radius: 50%;
    padding: 5px;
}
.list-group-item p{
    margin:2px 45px;
}